@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&family=Roboto+Mono:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}
.hidden {
    border: none;
    position: absolute;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;

    top: 150px;
    width: 100%;

}
.second {
    border: none;
    position: absolute;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    top: 55px;
    width: 100%;
}
button {
    border: none;
    cursor: pointer;
    height: 75px;
    width: 75px;
    transition: all;
    transition-duration: 400ms;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 15px;
    
}

.neu-btn2{
    border: none;
    cursor: pointer;
    height: 100px;
    width: 200px;
    transition: all;
    transition-duration: 400ms;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 15px;
    
}



.gallery-link {
    border: none;
    position: absolute;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    
    top: 600px;
    width: 100%;
}

button svg {
    align-items: center;
    width: 30px;
    height: 30px;
}

body {
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(147,143,143,1) 50%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.neu-btn {
    background: rgb(175,175,182);
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    border-radius: 9999px;
    
    border: 4px oslid #131212;
    box-shadow: -5px -5px 10px rgba(8, 8, 8, 0.8), 
    5px 5px 10px rgba(0, 0, 0, 0.25);
}

.neu-btn2 {
    background: #e8ecf2;
    color: #73787d;
    font-family: 'Roboto Mono', monospace;
    border-radius: 9999px;
    
    border: 4px oslid #e8ecf2;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 
    5px 5px 10px rgba(0, 0, 0, 0.25);
}


.neu-btn:hover {
    color: red;

    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6), 
    1px 1px 5px rgba(0, 0, 0, 0.3),
    inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 2px 2px 4px rgba(0,0,0,0.3);
}

.neu-btn2:hover {
    color: red;

    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6), 
    1px 1px 5px rgba(0, 0, 0, 0.3),
    inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 2px 2px 4px rgba(0,0,0,0.3);
}

footer {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    bottom: 30px;
    width: 50%;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: red;
}

a:active {
    text-decoration: none;
}

.navbar__container {
    background-color: inherit;
    overflow: hidden;
}

#animation {
    text-align: center;
}

#container {
	text-align: center;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: orange;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: orange;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: orange; 
	}
}

div.gallery {
    margin: 10px;
    display: flex;
    justify-content: center;
    float: middle;
    
  }
    
  div.gallery img {
    width: 100%;
    height: auto;
  }


.gallery-background{
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom , white, black);
}



.column {
    justify-content: center;
    width: 25.00%;
    padding: 10px;
    margin: 10px;    
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }
